# Stuff Lending Test Report
Document the results of your final system test below. You find instructions on the course homepage.

## General note
We modified the test cases to our interpretation of the requirements. See the [test description](manualTests.md) for more information.

Version #412e9f63
Date: 2022.10.10
Environment: MacOS, Java version 18.
Performed by: Emma Fransson and Ellinor Henriksson

| **Case** | **Result** | **Note** |
| -------- | ---------- | -------- |
| 5.1 | Ok | Test was modified, see [test description](manualTests.md) |
| 1.1 | Ok | |
| 1.2 | Ok | |
| 1.3 | Ok | |
| 2.1 | Ok | |
| 2.3 | Ok | |
| 3.1 | Ok | |
| 3.2 | Ok | |
| 3.3 | Ok | |
| 3.4 | Ok | |
| 3.5 | Ok | |
| 3.6 | Ok | |
| 4.1 | Ok | Test was modified, see [test description](manualTests.md) |